html {
  box-sizing: border-box;
  font-family: proxima-nova, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

a:hover {
  color: white;
}

h1 {
  font-family: "Bree", regular;
  margin: auto;
  text-align: center;
  line-height: 1.2;
}

figure img {
  width: 100%;
}

header img {
  max-width: 130px;
  margin: auto;
}

header {
  display: flex;
  flex-direction: column;
  background-color: #92B9E1;
  padding: 0 2rem;
}

nav {
  display: grid;
  align-items: center;
}

nav ul {
  display: grid;
  justify-content: center;
  padding: 0;
  grid-template-columns: 5em 5em 5em;
}

nav li {
  padding: 1rem;
  font-size: 1.25rem;
}

a {
  style: none;
  text-decoration: none;
  color: black;
}

h1 {
  font-family: "Bree";
  text-align: center;
}

.title {
  margin-top: 3rem;
}

h2 {
  font-family: "Bree";
  padding: 0rem 2rem;
}

h3 {
  margin-bottom: 0;
}

div {
  justify-content: space-around;
  text-align: center;
}

.classic {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2rem;
}

.dipped {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2rem;
}

.stuffed {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2rem;
}

figcaption {
  display: flex;
  max-width: 325px;
}

footer {
  background-color: #92B9E1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social {
  display: flex;
  padding: 1rem;
  gap: .5rem;
  }
}

.info {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  flex-direction: column;
  text-align: center;
}

.info p {
  margin: 0;
}
footer {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

h4 {
  font-family: "Bree";
  margin: 0;
  font-size: 1.5rem;
}

@media only screen and (min-width: 700px) {

  header {
    flex-direction: row;
  }

  header img {
    margin: 0;
  }
}

@media only screen and (min-width: 1000px) {

  footer {
    flex-direction: row;
  }

  .location {
    flex-direction: row;
  }

  .info {
    text-align: right;
  }
