html {
  box-sizing: border-box;
  font-family: proxima-nova, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 100%;
}

img {
  width: 100%;
}

header img {
  max-width: 130px;
  margin: auto;
}

header {
  display: flex;
  flex-direction: column;
  background-color: #92B9E1;
  padding: 0 2rem;
}

h1 {
  font-family: "Bree", regular;
  margin: auto;
  text-align: center;
  padding: 0 2rem;
  line-height: 1.2;
}

nav {
  display: grid;
  align-items: center;
}

nav ul {
  display: grid;
  justify-content: center;
  padding: 0;
  grid-template-columns: 5em 5em 5em;
}

nav li {
  font-size: 1.25rem;
}

a {
  list-style: none;
  text-decoration: none;
}

.paragraph {
  text-align: center;
  font-size: 1.25rem;
  padding: 2rem 2rem;
}

.paragraph p {
  max-width: 600px;
  margin: auto;
}

.doughnuts {
  font-family: "Bree", regular;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hours {
  text-align: center;
}

.hours ul {
  padding: 0rem 1.5rem;
}

section div {
  text-align: center;
}

.paragraph {
  background-color: #92B9E1;
  margin: 0;
}

div li {
  list-style: none;
}

footer {
  background-color: #92B9E1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social {
  display: flex;
  padding: 1rem;
  gap: .5rem;
  }
}

h3 {
  font-size: 1.5rem;
  font-family: "Bree", regular;
}

h4 {
  margin: 0;
  font-size: 1.5rem;
  font-family: "Bree";
  text-align: center;
}

.location {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 1rem 0;
}

.location img {
  max-width: 570px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  flex-direction: column;
  text-align: center;
}

.info p {
  margin: 0;
}

.address p {
  margin: auto;
  text-align: center;
}

.address {
    padding-bottom: 1rem;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

@media only screen and (min-width: 40em) {

  header {
    flex-direction: row;
  }

  header img {
    margin: 0;
  }
}

@media only screen and (min-width: 80em) {

  footer {
    flex-direction: row;
  }

  .location {
    flex-direction: row;
  }

  .info {
    text-align: right;
  }
